1.Write a Python program to swap two variables.

In [2]:
a = 5
b = 10
a, b = b, a
print("a:", a, "b:", b)

a: 10 b: 5

2.Take user input and display it back to the user.

In [3]:
name = input('Enter your name: ')
print(f'Hello {name}')

Hello akshit

3. Check if a number is even or odd

In [4]:
num = int(input('Enter any number: '))

if num%2 == 0:
    print(f'{num} is Even')
else:
    print(f'{num} is Odd')

1 is Odd

4. Multiplication table of a number

In [3]:
n = int(input('Enter number: '))
for i in range(1,11):
    print(f'{n}X{i}={n * i}')

Enter number:  10

10X1=10
10X2=20
10X3=30
10X4=40
10X5=50
10X6=60
10X7=70
10X8=80
10X9=90
10X10=100

5. Largest of three numbers

In [4]:
a = int(input('Enter first number: '))
b = int(input('Enter second number: '))
c = int(input('Enter third number: '))
print(f'Largest:',max(a,b,c))

Enter first number:  1
Enter second number:  2
Enter third number:  3

Largest: 3

6. Celsius to Fahrenheit

In [5]:
c = float(input('Enter temprature in celsius: '))
f = (c * 9/5) + 32
print(f"{c}°C = {f}°F")

Enter temprature in celsius:  23

23.0°C = 73.4°F

7. Factorial using a loop

In [7]:
n = int(input("Enter a number: "))
fact = 1
for i in range(1, n+1):
    fact *= i
print("Factorial:", fact)

Enter a number:  14

Factorial: 87178291200

8. Count vowels in a string

In [8]:
s = input("Enter a string: ").lower()
vowels = "aeiou"
count = sum(1 for char in s if char in vowels)
print("Vowel count:", count)

Enter a string:  akshit

Vowel count: 2

9. Reverse a string

In [9]:
s = input("Enter a string: ")
print("Reversed:", s[::-1])

Enter a string:  akshit

Reversed: tihska

10. Palindrome number

In [12]:
num = input("Enter a number: ")
print("Palindrome" if num == num[::-1] else "Not Palindrome")

Enter a number:  132

Not Palindrome

11. Sum of first N numbers

In [14]:
n = int(input("Enter N: "))
print("Sum:", n * (n+1) // 2)

Enter N:  5

Sum: 15

12. Number guessing game

In [16]:
import random
target = random.randint(1, 10)
while True:
    guess = int(input("Guess (1-10): "))
    if guess == target:
        print("Correct!")
        break
    else:
        print("Try again.")

Guess (1-10):  1

Try again.

Guess (1-10):  2

Try again.

Guess (1-10):  3

Try again.

Guess (1-10):  4

Try again.

Guess (1-10):  5

Try again.

Guess (1-10):  6

Correct!

13. Prime numbers 1–100

In [17]:
for num in range(2, 101):
    if all(num % i != 0 for i in range(2, int(num**0.5)+1)):
        print(num, end=" ")

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

14. Leap year check

In [20]:
year = int(input("Enter a year: "))
if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print("Leap year")
else:
    print("Not leap year")

Enter a year:  2000

Leap year

15. Fibonacci series

In [22]:
n = int(input("Enter N: "))
a, b = 0, 1
for _ in range(n):
    print(a, end=" ")
    a, b = b, a + b

Enter N:  10

0 1 1 2 3 5 8 13 21 34

16. GCD of two numbers

In [27]:
import math
a, b = map(int, input("Enter two numbers: ").split())
print("GCD:", math.gcd(a, b))

Enter two numbers:  55 50

GCD: 5

17. LCM of two numbers

In [28]:
import math
a, b = map(int, input("Enter two numbers: ").split())
print("LCM:", abs(a*b) // math.gcd(a, b))

Enter two numbers:  12 32

LCM: 96

18. Vowel or consonant

In [29]:
ch = input("Enter a character: ").lower()
print("Vowel" if ch in "aeiou" else "Consonant")

Enter a character:  a

Vowel

19. Sum of digits

In [31]:
num = input("Enter a number: ")
print("Sum:", sum(int(d) for d in num))

Enter a number:  43

Sum: 7

20. Second largest in a list

In [32]:
nums = list(map(int, input("Enter numbers: ").split()))
print("Second largest:", sorted(set(nums))[-2])

Enter numbers:  2 54 23 98 45 76

Second largest: 76

21. Count digits in integer

In [34]:
num = input("Enter a number: ")
print("Digits:", len(num))

Enter a number:  56728452

Digits: 8

22. Armstrong numbers (1–1000)

In [35]:
for num in range(1, 1001):
    if num == sum(int(d)**3 for d in str(num)):
        print(num, end=" ")

1 153 370 371 407

23. Star triangle

In [36]:
n = int(input("Enter rows: "))
for i in range(1, n+1):
    print("*" * i)

Enter rows:  5

*
**
***
****
*****

24. Simple calculator

In [37]:
a, b = map(float, input("Enter two numbers: ").split())
op = input("Enter operator (+ - * /): ")
if op == "+": print(a+b)
elif op == "-": print(a-b)
elif op == "*": print(a*b)
elif op == "/": print(a/b)
else: print("Invalid")

Enter two numbers:  1 2
Enter operator (+ - * /):  -

-1.0

25. ASCII value of a character

In [40]:
ch = input("Enter a character: ")
print("ASCII:", ord(ch))

Enter a character:  A

ASCII: 65

26. Decimal to Binary

In [41]:
n = int(input("Enter a number: "))
binary = ""
while n > 0:
    binary = str(n % 2) + binary
    n //= 2
print("Binary:", binary)

Enter a number:  12

Binary: 1100

27. Square root

In [43]:
import math
n = float(input("Enter a number: "))
print("Square root:", math.sqrt(n))

Enter a number:  4

Square root: 2.0

28. Sum of even numbers in a list

In [44]:
nums = list(map(int, input("Enter numbers: ").split()))
print("Sum of even numbers:", sum(x for x in nums if x % 2 == 0))

Enter numbers:  2 5 3 2 7 8

Sum of even numbers: 12

29. Check if number is prime

In [45]:
n = int(input("Enter a number: "))
if n > 1 and all(n % i != 0 for i in range(2, int(n**0.5)+1)):
    print("Prime")
else:
    print("Not Prime")

Enter a number:  12

Not Prime